.popup-content {
  width: 80%;
  height: 28vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: none;
  padding: 18px;
  border-radius: 5px;
}

.my-popup-content {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  height: 100vh;
  width: 100%;
  padding: 0px;
  display: none;
}

.small-nav {
  display: none;
}

.logo-link {
  width: 38%;
}

@media screen and (max-width: 767px) {
  .small-nav {
    display: block;
  }
  .my-popup-content {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .logo-link {
    width: 50%;
  }

  .popup-content {
    width: 100%;
    padding: 0px;
  }
}
