.react {
  width: 100% !important;
  height: 68vh !important;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .react {
    width: 100% !important;
    height: 33% !important;
    margin-top: 30px;
  }
}

.hr-line {
  border-color: #7e858e;
  border-top: 0px;
  border-left: 0px;
  border-left: 0px;
  margin-bottom: 30px;
}
